name: docker

on:
  schedule:
    - cron: "00 08 01 * *"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  DH_IMAGE: docker.io/marvinmenzerath/latex
  GHCR_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  build_base:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6.0.2
      - name: login to docker registry
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: login to github registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build image
        uses: docker/build-push-action@v6.18.0
        with:
          file: base.Dockerfile
          tags: ${{ env.DH_IMAGE }}:base,${{ env.GHCR_IMAGE }}:base
          push: ${{ github.ref == 'refs/heads/main' }}
  build_full:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6.0.2
      - name: login to docker registry
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: login to github registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build image
        uses: docker/build-push-action@v6.18.0
        with:
          file: full.Dockerfile
          tags: ${{ env.DH_IMAGE }}:full,${{ env.GHCR_IMAGE }}:full,${{ env.DH_IMAGE }}:latest,${{ env.GHCR_IMAGE }}:latest
          push: ${{ github.ref == 'refs/heads/main' }}
